* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.waterfall {
	margin: 0 auto;
	position: relative;
}
.waterfall .box{
	width: 300px;
	padding: 25px 0 0 25px;
	float: left;
}
.waterfall .box img {
	width: 100%;
}